[user]
	name = Hiroshi Kori
	email = hiroshi.maybe@gmail.com
[color]
	ui = auto
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	cp = cherry-pick
	unstage = reset HEAD --
	stash-unapply = !git stash show -p | git apply -R
	gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
